<div class="jumbotron">
  <div class="container">
    <h1>
      <i class="fa fa-bath" aria-hidden="true"></i>
      Finance Manager System
    </h1>
  </div>
</div>

<div class="container">
  <ngb-tabset>
    <ngb-tab title="Bacon">
      <ng-template ngbTabContent>
        <app-customer-list></app-customer-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Lettuce">
      <ng-template ngbTabContent>
        <p>Content for tab 2</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Configuration">
      <ng-template ngbTabContent>
        <app-configuration></app-configuration>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

